<html></html>
  <body>
    <h3><a href='https://i-scrap-fe.vercel.app/popup/{{popupId}}'>{{popupName}}</a>κ°€ μΌμ£ΌμΌ λ’¤ μΆ…λ£λ©λ‹λ‹¤.</h3>
    <br/>
    <p>μ•λ…•ν•μ„Έμ”, {{name}}λ‹!</p>
    <p>{{popupName}} νμ—… μ¤ν† μ–΄κ°€ μΆ…λ£κΉμ§€ 7μΌ λ‚¨μ•μµλ‹λ‹¤.πΆ</p>
    <p>μ•„μ§ λ°©λ¬Έν•μ§€ μ•μΌμ…¨λ‹¤λ©΄, μ§€κΈ λ°©λ¬Έν•΄ λ³΄μ„Έμ”!</p>
    <br/>
    <h3>π“… μΆ…λ£ μΌμ</h3>
    <h4>{{endDateFormatted}}
    {{openingTime}}
    -
    {{closingTime}}
    </h4>
    <h3>π“ μ¥μ†</h3>
    <h4>{{location}}</h4>
    <br/>
    <p>κ¶κΈν• μ μ΄ μμΌμ‹λ©΄ μ–Έμ λ“ μ§€ λ¬Έμν•΄ μ£Όμ„Έμ”!</p>
    <p>λ¬Έμν•κΈ°: <a href="mailto:iscrap.team@gmail.com">iscrap.team@gmail.com</a></p><br />
    <p>λ” λ§μ€ νμ—… μ¤ν† μ–΄ μ†μ‹μ„ μ›ν•μ‹ λ‹¤λ©΄ μ €ν¬ <a href='https://i-scrap-fe.vercel.app/'>μ›Ήμ‚¬μ΄νΈ</a>λ¥Ό λ°©λ¬Έν•΄ λ³΄μ„Έμ”!</p>
    <p>https://i-scrap-fe.vercel.app/</p>
  </body>
</html>
