<html></html>
  <body>
    <h3><a href='https://i-scrap-fe.vercel.app/popup/{{popupId}}'>{{popupName}}</a>가 오늘 오픈합니다!🎉</h3>
    <br/>
    <p>안녕하세요, {{name}}님!</p>
    <p>새로운 팝업 스토어가 오픈합니다.🤩</p>
    <p>아래에서 팝업 스토어의 일정과 장소를 확인하세요.</p>
    <br/>
    <h3>📅 오픈 일정</h3>
    <h4>{{startDateFormatted}}
    {{openingTime}}
    -
    {{closingTime}}
    </h4>
    <h3>📍 장소</h3>
    <h4>{{location}}</h4>
    <br/>
    <p>궁금한 점이 있으시면 언제든지 문의해 주세요!</p>
    <p>문의하기: <a href="mailto:iscrap.team@gmail.com">iscrap.team@gmail.com</a></p><br />
    <p>더 많은 팝업 스토어 소식을 원하신다면 저희 <a href='https://i-scrap-fe.vercel.app/'>웹사이트</a>를 방문해 보세요!</p>
    <p>https://i-scrap-fe.vercel.app/</p>
  </body>
</html>
